# .coveragerc to control coverage.py
[run]
source =
    # include these directories
    ./parlai/
    ./projects/
    ./examples/
    ./website/
    ./docs/

omit =
    # omit init files
    *__init__.py
