# .coveragerc to control coverage.py
[run]
branch = True

# make sure we report these folders
include =
    parlai/*
    projects/*
    examples/*
    tests/*

# skip these files
omit =
    */__init__.py
    .eggs/*
