[flake8]
exclude = .git,__pycache__,parlai_internal,legacy_agents,task_config.py,.eggs
extend-ignore =
    E741
    E501
    D107
    D105
    E203
    E266
    W503
    F403
    F541
select = C,E,F,W,B,B950,RST,PAI,BLK

max-line-length=80
