Pillow
boto3
botocore
flake8-rst-docstrings
flake8-docstrings
flake8-bugbear
flake8
gitpython
h5py
joblib
nltk>=3.4.0
numpy
pexpect
py-gfm
pyzmq
regex
requests-mock
requests
scikit-learn
scipy
sh
sphinx
sphinx_rtd_theme
tqdm
websocket-client
websocket-server
py-rouge
pre-commit
docutils<0.15
