boto3==1.17.95
botocore==1.20.95
coloredlogs==14.0
datasets>=1.4.1
docutils<0.16,>=0.14
emoji==0.5.4
fairscale==0.3.7
docformatter==1.3.0
flake8-bugbear==19.8.0
flake8==3.7.8
iopath~=0.1.8
gitdb2==2.0.5
GitPython==3.0.3
hydra-core~=1.0.6
ipython==7.19.0
torch>=1.4.0
joblib==0.14.1
nltk==3.4.5
numpy==1.17.5
omegaconf<2.1.0
pandas==1.1.1
pytest_regressions==2.1.1
pytest==5.3.2
pexpect==4.7.0
Pillow==8.2.0
py-gfm==1.0.2
py-rouge==1.1
pyyaml==5.4
pyzmq==18.1.0
regex==2020.1.8
myst-parser~=0.12.2
attrs~=20.2.0
requests-mock==1.7.0
requests<3,>=2.21.0
scikit-learn==0.23.1
scipy==1.4.1
sh==1.12.14
sphinx_rtd_theme==0.4.3
sphinx-autodoc-typehints~=1.10.3
Sphinx~=2.2.0
subword-nmt==0.3.7
tensorboard==2.3.0
tensorboardX==2.1
tokenizers>=0.8.0
torchtext>=0.5.0
tornado==6.0.4
tqdm~=4.42.0
typing-extensions==3.7.4.1
Unidecode==1.1.1
urllib3>=1.26.5
websocket-client==0.56.0
websocket-server==0.4
jsonlines==1.2.0
