#@package _global_
defaults:
  - /mephisto/blueprint: model_image_chat_blueprint
  - /mephisto/architect: local
  - /mephisto/provider: mock
mephisto:
  blueprint:
    annotations_config_path: ""
    block_qualification: model_image_chat_block
    chat_data_folder: ${task_dir}/model_chat/
    model_opt_path: ${task_dir}/task_config/image_model_opts.yaml
    num_turns: 6
    task_model_parallel: false
    check_acceptability: false
    num_conversations: 10
  task:
    allowed_concurrent: 1
    assignment_duration_in_seconds: 600
    max_num_concurrent_units: 0  # 0 means infinite; set this to a positive integer to limit concurrent HITs and prevent crashes
    maximum_units_per_worker: 3
    task_name: model_image_chat
    task_reward: 3
    task_tags: "chat,conversation,dialog,partner,image"
    task_title: "Chat with a fellow conversationalist about an image!"
mturk:
  worker_blocklist_paths: null
