version: 2.0

jobs:
  build:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/ParlAI
    steps:
      - checkout
      - run: pip3 install --upgrade pip
      - run: pip3 install flake8 gitpython nltk
      - run: pip3 install regex scipy scikit-learn pexpect
      - run: pip3 install sphinx sphinx_rtd_theme
      - run: pip3 install boto3 botocore joblib websocket sh websocket_server
      # gpu version: pip3 install torch torchvision
      - run: pip3 install https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp36-cp36m-linux_x86_64.whl
      - run: bash ./tests/lint_changed.sh
      - run: python setup.py test -s tests.suites.travis -q
  integration_test:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/ParlAI
    steps:
      # same for now
      - checkout
      - run: pip3 install --upgrade pip
      - run: pip3 install flake8 gitpython nltk
      - run: pip3 install regex scipy scikit-learn pexpect
      - run: pip3 install sphinx sphinx_rtd_theme
      - run: pip3 install boto3 botocore joblib websocket sh websocket_server
      # gpu version: pip3 install torch torchvision
      - run: pip3 install https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp36-cp36m-linux_x86_64.whl
      - run: python setup.py test -s tests.suites.integration -q

workflows:
  version: 2
  commit:
    jobs:
      - build
      - test:
          requires:
            - build
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
      - test:
          requires:
            - build
      - integration_test:
          requires:
            - build
