<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{{TITLE}}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon-96x96.png" sizes="96x96"/>
    <link href="/static/css/parlai.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css" integrity="sha256-HbgiGHMLxHZ3kkAiixyvnaaZFNjNWLYKD/QG6PWaQPc=" crossorigin="anonymous" />
    <style>
    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
        margin-top: -40px;
    }
    </style>
  </head>
  <body id="home">
    <header>
      <div class="logo">
        <a href="/" style="float: left"><img style="height: 53px; margin-top:-6px" src="/static/img/icon.png"></a>
        <a href="/" style="color: #000; float: left; margin-top: 6px; margin-left: 15px; font-size: 20px; font-weight: 600">ParlAI</a>
      </div>
      <a class="btn" href="/docs/index.html">Docs</a>
      <ul class="primary-nav">
        <li><a class="home" href="#getstarted">Get Started</a></li>
        <li><a class="about" href="/about/">About</a></li>
        <li><a class="projects" href="/projects/">Projects</a></li>
        <li><a class="github" href="https://github.com/facebookresearch/ParlAI">GitHub</a></li>
      </ul>
    </header>

    {{{CONTENT}}}

    <footer>
        <div class="left">
            <div class="logo" style="width: 450px">
              <a href="/" style="float: left"><img style="height: 53px; margin-top:-6px" src="/static/img/icon.png"></a>
              <a href="/" style="color: #000; float: left; margin-top: 6px; margin-left: 15px; font-size: 20px; font-weight: 600">ParlAI</a>
            </div>
            <p style="margin-top: 20px">
                Maintained by the ParlAI core team. <br>
                &copy;2020 ParlAI
                &mdash;
                <a href="https://opensource.facebook.com/legal/terms">Terms of Service</a>
                &bull;
                <a href="https://opensource.facebook.com/legal/privacy">Privacy Policy</a>

            </p>
        </div>
        <ul class="primary-nav">
          <li><a class="home" href="#getstarted">Get Started</a></li>
          <!-- <li><a class="leaderboard" href="/leaderboard/">Leaderboard</a></li> -->
          <li><a class="about" href="/about/">About</a></li>
          <li><a class="projects" href="/projects/">Projects</a></li>
          <li><a class="github" href="https://github.com/facebookresearch/ParlAI">GitHub</a></li>
        </ul>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
