name: Mark stale issues and pull requests
on:
  schedule:
  - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has not had activity in 30 days. Please feel free to reopen if you have more issues. You may apply the "never-stale" tag to prevent this from happening.'
        days-before-stale: 30
        stale-pr-message: 'This PR has not had activity in 30 days. Closing due to staleness.'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
        exempt-issue-labels: 'roadmap,donotreap,never-stale'
        exempt-pr-labels: 'wip,donotreap,never-stale'
